/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Layout */

body {
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  height: 100vh;
  overscroll-behavior-y: none;
  padding: 2.5rem;
  display: flex;
}

.sidebar {
  flex-basis: 30rem;
  padding: 3rem 3.5rem 4rem 3.5rem;
  display: flex;
  flex-direction: column;
  background-color: #b4f8c8;
}

.grid-container {
  flex: 1;
  height: 100%;
  background-color: #a0e7e5;
}
