.rect {
  /* height: 2.4rem;
  width: 2.4rem; */
  /* height: 2.8rem; */
  height: 100%;

  /* max-height: 2.8rem; */
  /* height: 1.4rem;
  height: 0.5rem;
  height: 0.4rem; */
  /* width: 5rem; */

  width: 100%;
  /* max-width: 5rem; */
  /* width: 2.5rem;
  width: 1.5rem;
  width: 0.4rem; */

  /* width: 0.21rem; */
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* box-shadow: inset 0 0 1.2rem #f8a100; */
  /* box-shadow: 0 0 1.2rem #f8a100; */
}

.small-rect {
  height: 1.6rem;
  width: 2.7rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #fff;
}

.app-title {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  font-size: 2.8rem;
  letter-spacing: 0.3rem;
  color: #ff143fca;
}

.grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 0.1rem;
  padding: 2rem;
  /* grid-template-columns: repeat(auto-fill, 3rem); */
  /* grid-template-columns: repeat(16, minmax(3px, 3rem)); */
  /* grid-template-columns: repeat(16, minmax(0.5rem, 100rem)); */
  /* grid-template-columns: repeat(24, minmax(0.5rem, 100rem)); */
}

.form-heading {
  font-family: 'Kalam', cursive;
  margin-bottom: 1.2rem;
  font-size: 2.2rem;
}

label {
  font-size: 1.9rem;
  font-family: 'Kalam', cursive;
}

span {
  font-size: 1.3rem;
}

.form,
.glow-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.7rem 2.5rem;
  height: fit-content;
  border-radius: 0.3rem;
  background-color: #a3e3b6;
  padding: 1.5rem 1.8rem;
  align-items: center;
}

.form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  width: 30%;
  padding: 0.3rem 1.1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #e1fce9;
}

/* Separate form to enable glow toggle - remove padding-top */
.glow-heading {
  margin-bottom: 1.9rem;
}
.outer-glow-form {
  padding-top: 0;
}
