.rect {
  height: 100%;
  width: 100%;
  /* If circle option is added */
  /* border-radius: 100%; */
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.app-title {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  text-shadow: 0.1rem 0.1rem #fff;
  font-size: 2.8rem;
  letter-spacing: 0.3rem;
  color: #ff143fca;
  cursor: pointer;
}

.grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 0.1rem;
  padding: 2rem;
}

.form-heading {
  font-family: 'Kalam', cursive;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

label {
  font-size: 1.9rem;
  font-family: 'Kalam', cursive;
}

span {
  font-size: 1.3rem;
}

.form,
.glow-container,
.color-container,
.options-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.7rem 2.5rem;
  height: fit-content;
  border-radius: 0.3rem;
  background-color: #a3e3b6;
  padding: 1.5rem 1.8rem;
  align-items: center;
}

.form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  width: 30%;
  padding: 0.3rem 1.1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #e1fce9;
}

.cell-color-btm {
  padding-bottom: 0.7rem;
}

/* Separate form to enable glow toggle - remove padding-top */
.glow-heading,
.color-heading {
  margin-bottom: 1rem;
}
.outer-glow-form {
  padding-top: 0;
}

.checkbox {
  accent-color: #e1fce9;
  transform: scale(1.35);
}

.save-btn {
  padding-left: 1.78rem;
  padding-right: 1.78rem;
}
